<!DOCTYPE html>
<html>
    <head>
        <title>
            Register
        </title>
    </head>
    <body>
        <button onclick="window.location.href='/login'">login</button>
        <h1>Registration Form</h1>
        <form id="addPetForm" method="POST">
            {{ form.hidden_tag() }}
        
            {% for field in form
                if field.widget.input_type != 'hidden' %}
        
            <p>
                {{ field.label }}
                {{ field }}
        
                {% for error in field.errors %}
                {{ error }}
                {% endfor %}
            </p>
        
            {% endfor %}
        
            <button type="submit">Submit</button>
        </form>
    </body>
</html>